extends layout.pug

block content
	.container.commentContainer
		.row
				.col-xs-12
					h4 Comments from users here
		.row
				.col-xs-12
					h4 Comments from users here
		.row
				.col-xs-12
					h4 Comments from users here
		.row
				.col-xs-12
					h4 Comments from users here
		.row
				.col-xs-12
					h4 Comments from users here