extends layout.pug

block content
	.container
		.row
			.col-xs-1
				button: span(class='glyphicon glyphicon-chevron-up')
				p 85
				button: span(class='glyphicon glyphicon-chevron-down')
			.col-xs-2
				img(src='http://www.freedigitalphotos.net/images/img/homepage/87357.jpg' height='80px' width='80px')
			.col-xs-9
				h1: a(href='/about') Title of Article
